<h3>Products List</h3>
<div basic-highlight>Basic Highlight Example</div>
<!-- <div better-highlight defaultColor="chartreuse">Better Highlight Example</div> -->
<div [better-highlight]="'chartreuse'" highlight="yellow">Better Highlight Example</div>
<div class="row">
    <div class="col-md-2">
        Filter:
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <input type="text" [(ngModel)]="filterText" class="form-control">
        </div>
    </div>
    <button type="button" class="btn btn-primary" (click)="TestPipe()">Test Pipe</button>
    <!-- <div class="col-md-2">
        <div [hidden]="filterText.length==0" class="alert alert-primary" role="alert">
            <strong>{{filterText}}</strong>
        </div>
    </div> -->
    <div *unless="filterText.length == 0" class="col-md-2">
        <div class="alert alert-primary" role="alert">
            <strong>{{filterText}}</strong>
        </div>
    </div>
</div>
<ng-content></ng-content>
<div class="row">
    <!-- <div class="col-md-4" *ngFor="let prod of products">
        <product-thumbnail [product]="prod"></product-thumbnail>
    </div> -->
    <product-thumbnail class="col-md-3" style="margin-bottom: 10px;" [pd]="prod" (sd)="ReceivedData($event)"
        *ngFor="let prod of products | filter : filterText : 'productName' : 'productCode'"></product-thumbnail>
</div>