<div class="container">
    <!-- <form #signupform="ngForm" (ngSubmit)="onSubmit()">  -->
    <form #signupform="ngForm" (ngSubmit)="onSubmit(signupform.value)">
        <!-- <div class="row">
            <div class="col-md-6">
                <ul class="list-group">
                    <li class="list-group-item">Touched : {{signupform.touched}}</li>
                    <li class="list-group-item">Dirty : {{signupform.dirty}}</li>
                    <li class="list-group-item">Valid : {{signupform.valid}}</li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="list-group">
                    <li class="list-group-item">Untouched : {{signupform.untouched}}</li>
                    <li class="list-group-item">Pristine : {{signupform.pristine}}</li>
                </ul>
            </div>
        </div> -->
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="FirstName">First Name</label>
                    <input type="text" class="form-control" required name="FirstName" minlength="3" #FirstName="ngModel"
                        ngModel id="FirstName" aria-describedby="helpId" placeholder="First Name">
                    <span style="margin-top: 5px;" *ngIf="FirstName.errors?.required && FirstName.touched"
                        class="alert alert-danger">Enter First Name</span>
                    <span style="margin-top: 5px;" *ngIf="FirstName.errors?.minlength" class="alert alert-danger">Min 3
                        characters required</span>
                    <!-- <span>{{FirstName.errors | json}}</span> -->
                </div>
            </div>
            <!-- <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <ul class="list-group">
                            <li class="list-group-item">FirstName Touched : {{FirstName.touched}}</li>
                            <li class="list-group-item">FirstName Dirty : {{FirstName.dirty}}</li>
                            <li class="list-group-item">FirstName Valid : {{FirstName.valid}}</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="list-group">
                            <li class="list-group-item">FirstName Untouched : {{FirstName.untouched}}</li>
                            <li class="list-group-item">FirstName Pristine : {{FirstName.pristine}}</li>
                        </ul>
                    </div>
                </div>
            </div> -->
            <div class="col-md-6">
                <div class="form-group">
                    <label for="LastName">Last Name</label>
                    <input type="text" class="form-control" required name="LastName" #LastName="ngModel" ngModel
                        id="LastName" aria-describedby="helpId" placeholder="Last Name">
                    <small id="helpId" class="form-text text-muted">Last Name</small>
                    <!-- <span>{{LastName.errors | json}}</span> -->
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="EmailId">Email Id</label>
                    <input type="email" class="form-control" email required ngModel name="EmailId" #EmailId="ngModel"
                        id="EmailId" aria-describedby="emailHelpId" placeholder="Email Id">
                    <small id="emailHelpId" class="form-text text-muted">Email Id</small>
                    <!-- <span>{{EmailId.errors | json}}</span> -->
                </div>
            </div>
            <div class="col-md-6">
                
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="Password">Password</label>
                    <input type="password" class="form-control" ngModel name="Password" id="Password"
                        placeholder="Password">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="ConfirmPassword">Confirm Password</label>
                    <input type="password" class="form-control" ngModel name="ConfirmPassword" id="ConfirmPassword"
                        placeholder="Confirm Password">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="">Address</label>
                    <textarea class="form-control" name="Address" id="Address" ngModel rows="3"></textarea>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>