<h2>String Interpolation Examples</h2>

<h4 class="alert alert-info">Things we can do using String Interpolation</h4>
<div class="row">
    <div class="col-md-6">
        <ul class="list-group">
            <li class="list-group-item">Simple Code Expression : 4+5 {{4+5}}</li>
            <li class="list-group-item">Property Example 1 : {{num1}}</li>
            <li class="list-group-item">Property Example 2 : {{num1 + num2}}</li>
            <li class="list-group-item">Property Example 3 : {{termsAndConditions}}</li>
            <li class="list-group-item">Property Example 4 : {{name}}</li>
            <li class="list-group-item">Property Example 4 : {{firstName + " " + lastName}}</li>
        </ul>
    </div>
    <div class="col-md-6">
        <ul class="list-group">
            <li class="list-group-item">Object Example 1: {{person}}</li>
            <li class="list-group-item">Object Example 2: {{person?.Name}}</li>
            <!-- <li class="list-group-item">Object Example 3: {{person.Address}}</li> -->
            <li class="list-group-item">Method Example 1: {{getName()}}</li>
            <li class="list-group-item">Object Example 4: {{person?.Address?.AddLine1}}</li>
        </ul>
    </div>
</div>